<ion-header>

  <ion-navbar color="primary">
    <ion-title>Teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <button ion-item (click)="itemTapped()">HC Elite</button>
  <button ion-item (click)="itemTapped()">Team Takeover</button> -->

  <ion-list >
    <ion-item-group *ngFor="let division of teams">
      <ion-item-divider color="secondary">{{division.divisionName}}</ion-item-divider>
      <ion-item *ngFor="let team of division.divisionTeams" (click)="itemTapped($event, team)" >
        {{ team.name }}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
